<div class="contenedor">
  <div class="login">
    <h1>Log In</h1>

    <form action="" class="loginForm">
      <div class="campo">
        <div class="label">
              <label for="">Email</label>
        </div>
      
        <div class="input">
          <div class="icono">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <input type="text" class="inputFormulario"/>
        </div>
      </div>


         <div class="campo">
        <div class="label">
              <label for="">Password</label>
        </div>
        <div class="input">
          <div class="icono">
      <i class="fa-solid fa-lock"></i>
          </div>
          <input  type="password" class="inputFormulario" />
        </div>
      </div>

   <div class="fila">
    
    <div class="recuerdame">
        <div class="input">
             <input type="checkbox" />
            <p>Recuerdame</p>
         
        </div>
        
    </div>

        <div class="forgot">
      
            <i class="fa-solid fa-lock"></i>
            <a href="">¿Olvidaste tu contraseña?</a>

        
    </div>

        
      </div>

   <div class="campo">
 
        <button>Ingresar</button>

      </div>



    </form>

    <p class="registrate">¿No tienes una cuenta? <a href="">Registrate</a></p>

  </div>
</div>
