


<div class="sidebar-superior">


  <div class="logo">
      <img
    src="https://www.adobe.com/es/express/create/logo/media_1e48d0f33b63cb18110ea7ff42475b78fd2c217b2.jpeg?width=400&format=jpeg&optimize=medium"
    width="200"
    alt=""
  />
  </div>

</div>

<div class="menu">
  <div class="opcion">
    <a href=""><i class="fa-solid fa-chart-line"></i> Dashboard</a>
  </div>
  <div class="opcion">
    <a href=""><i class="fa-solid fa-shirt"></i> Productos</a>
  </div>
  <div class="opcion">
    <a href=""><i class="fa-sharp fa-solid fa-person"></i> Clientes</a>
  </div>
  <div class="opcion">
    <a href=""><i class="fa-solid fa-user"></i> Usuarios</a>
  </div>
  <div class="opcion">
    <a href=""><i class="fa-solid fa-handshake"></i> Ventas</a>
  </div>
    <div class="opcion">
    <a href=""><i class="fa-sharp fa-solid fa-door-open"></i> Cerrar Sesion</a>
  </div>
</div>







