




.sidebar-superior{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 5rem;
   
}


.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.opcion a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px  2px rgba(0, 0, 0, 1);

}

.opcion a:hover{
    color: darkturquoise;
    transition: all .25s ease-in;
}


.opcion a i{

    
    color: darkturquoise;
        text-shadow: 1px 1px  1px rgba(0, 0, 0, 1);
        margin-right: .5rem;

}
.fa-sharp{
    font-size: 1.8rem;
}
.fa-door-open{
    font-size: 1.3rem;
}